{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Bölüm : {{ subsession.round_number }}  
    <p> <strong> 3. Tur </strong>   İşi verme kararı.</p>  
    <hr> 
{% endblock %}

{% block content %}

    <h5> <strong> İŞVEREN </strong> rolündesiniz. </h5> 
    
    <hr>  
    
    <table class='table text-center' style='width: auto; margin: auto'>
        <tr><th>  </th><th>  </th><th> Geçmiş Tur Kararları </th></tr>
        <tr><th>  </th><th>Bilgisayarın seçimi</th><th> Çalışanın kararı</th> <th> Kazancınız </th>
            <th> Tip Tahmininiz </th></tr>
        <tr><td>1. Tur </td> <td>{{ group.state_1 }}</td><td>{{group.action_1}}</td>
            <td>{{player.pyf_1}}</td><td>{{group.belief_1}}</td></tr> 
        <tr><td>2. Tur </td> <td>{{ group.state_2 }}</td><td>{{group.action_2}}</td>
            <td>{{player.pyf_2}}</td><td>{{group.belief_2}}</td></tr>
                
    </table>  
    
    <hr>
    <br>
    {% formfield group.belief_3 label='Çalışanın yüzde kaç ihtimalle 1. Tip olduğunu düşünüyorsunuz?' %}
    <br>
    <br> 
    
    {% formfield group.agent_hired_3 label='Çalışana 3. Tur için işi vermek istiyor musunuz?' %}
    <p style="color: red;" id="hireMsg"></p>
 
    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}

{% block scripts %}

<script>

$(document).ready(function() {

    $('input').change(function () {
        
        var hireMsg
        var hire = $('input[name=agent_hired_3]:checked').val();
        var goodpayment = {{ Constants.good_payment_3|json }};
        var badpayment = {{ Constants.bad_payment_3|json }};
            
        if (hire === 'False'){
            var hireMsg =  'Çalışana işi vermezseniz, Bölüm sonlanacak. Bu Turdan 0 PUAN kazanacaksınız. ' ; 
        } 
        else if (hire === 'True'){
            var hireMsg =  'Çalışanı işi verirseniz Tur kazancınız: Çalışanın kararı bilgisayarın seçimiyle aynı olursa ' + goodpayment  + ' PUAN, bilgisayarın tercihinden farklı olursa  ' + badpayment  + '  PUAN olacak. ' ; 
        } 
    
        $('p#hireMsg').text(hireMsg);
    
});

});

</script>


{% endblock %}
