{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <strong> 3. Tur </strong> Çalışan Kararı.
    <hr>
{% endblock %}

{% block content %}
    
    <h5>    
    {% if group.agent_type == 0 %}
        <strong> 1. Tip çalışan rolündesiniz.</strong>
            
    {% else %}
        <strong> 2. Tip çalışan rolündesiniz. </strong>
       
    {% endif %}
    </h5>   
    <h5> İşveren size 3. Tur için işi verdi. </h5>

    <hr>

    <p> <i>Detaylı kazanç şeması için aşağıdaki yönergelere bakınız. </i>  </p>
        <table class='table text-center' style='width: auto; margin: auto'>
                <tr><th>  </th><th> Geçmiş Tur Kararları </th></tr>
                <tr><th>  </th><th>Bilgisayarın seçimi</th><th>  Kararınız </th> <th> Kazancınız </th></tr>
                <tr><td>1. Tur</td> <td>{{ group.state_1 }}</td><td>{{group.action_1}}</td>
                    <td>{{player.pyf_1}}</td></tr>
                <tr><td>2. Tur</td> <td>{{ group.state_2 }}</td><td>{{group.action_2}}</td>
                    <td>{{player.pyf_2}}</td></tr>
               
        </table>
    <p> Bilgisayarın Tercihi: <strong>{{ group.state_3}}  </strong> </p>
    
    {% formfield group.agent_action_3 label='Kararınız ' %}
    <p style="color: red;" id="payoffMsg"></p> 
    

    <p>  {% next_button %} </p>

    {% include Constants.instructions_template %}

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {

    $('input').change(function () {
        var type = {{ group.agent_type|json }};
        var payoffMsg
        var act= $('input[name=agent_action_3]:checked').val();
        var action = {{ Constants.agent_action_choices|json }};
        var state = {{ group.state_3|json }};
        var statebinary = {{ group.state_of_world_3|json }};
        var good_return_3 = {{ Constants.good_return_3|json }};
        var bad_return_3 = {{ Constants.bad_return_3|json }};
        
        if (type === 0){
            var payoffMsg =  'Bilgisayarın seçimi ' + state  + ' iken ' + action[act][1]  + ' seçerseniz sizin Tur kazancınız ' + good_return_3 [act][statebinary] + ' PUAN, İşverenin Tur kazancı ' + good_return_3 [act][statebinary] + ' PUAN olacak. ' ; 
        } 
        else if (type === 1){
            var payoffMsg =  'Bilgisayarın seçimi ' + state  + ' iken ' + action[act][1]  + ' seçerseniz sizin Tur kazancınız ' +  bad_return_3 [act][statebinary] + ' PUAN , İşverenin Tur kazancı ' + good_return_3 [act][statebinary] + ' PUAN olacak.' ; 
        } 
        $('p#payoffMsg').text(payoffMsg);
        
    });
});
</script>

{% endblock %}
