{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Bölüm : {{ subsession.round_number }}  
    <p> <strong> 1. Tur </strong>   Çalışan Kararı.</p>
    
    <hr>
{% endblock %}

{% block content %}

    <h5>    
    {% if group.agent_type == 0 %}
        <strong> 1. Tip    çalışan rolündesiniz.</strong>
            
    {% else %}
        <strong> 2. Tip   çalışan rolündesiniz. </strong>
       
    {% endif %}
    </h5>  
         
    <h5> İşveren 1. Tur için size işi verdi. </h5>
    
    
    
   
    <hr>

<p> <i>Detaylı kazanç şeması için aşağıdaki yönergelere bakınız. </i>  </p>
    
<br>

<p> Bilgisayarın Tercihi: <strong>{{ group.state_1 }}  </strong> </p>

    {% formfield group.agent_action_1 label='Kararınız ' %}
    <p style="color: red;" id="payoffMsg"></p>
    

    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

    

{% endblock %}


{% block scripts %}

<script>
$(document).ready(function() {

    $('input').change(function () {
        var type = {{ group.agent_type|json }};
        var payoffMsg
        var act= $('input[name=agent_action_1]:checked').val();
        var action = {{ Constants.agent_action_choices|json }};
        var state = {{ group.state_1|json }};
        var statebinary = {{ group.state_of_world_1|json }};
        var good_return_1 = {{ Constants.good_return_1|json }};
        var bad_return_1 = {{ Constants.bad_return_1|json }};
        
        if (type === 0){
            var payoffMsg =  'Bilgisayarın seçimi ' + state  + ' iken ' + action[act][1]  + ' seçerseniz sizin Tur kazancınız ' + good_return_1 [act][statebinary] + ' PUAN, İşverenin Tur kazancı ' + good_return_1 [act][statebinary] + ' PUAN olacak. ' ; 
        } 
        else if (type === 1){
            var payoffMsg =  'Bilgisayarın seçimi ' + state  + ' iken ' + action[act][1]  + ' seçerseniz sizin Tur kazancınız ' +  bad_return_1 [act][statebinary] + ' PUAN , İşverenin Tur kazancı ' + good_return_1 [act][statebinary] + ' PUAN olacak. ' ; 
        } 
        $('p#payoffMsg').text(payoffMsg);
        
    });
});
</script>


{% endblock %}

