{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Bölüm : {{ subsession.round_number }}  
<p> <strong> 1. Tur </strong>   İşi verme kararı.</p>
<hr>
{% endblock %}

{% block content %}
    <h5> <strong> İŞVEREN </strong> rolündesiniz. <strong> Bir çalışanla rastgele olarak </strong> eşleştirildiniz. 
        Çalışan 10% olasılık ile 1. Tip, 90% olasılık ile 2. Tip. </h5>
    
    <hr>
    <br>
    {% formfield group.belief_1 label='Çalışanın yüzde kaç ihtimalle 1. Tip olduğunu düşünüyorsunuz?' %}
    <br>
    <br>    
    {% formfield group.agent_hired_1 label='Çalışana 1. Tur için işi vermek istiyor musunuz?' %}
    <p style="color: red;"  id="hireMsg"></p>

    {% next_button %}

    {% include Constants.instructions_template %}


{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {

    $('input').change(function () {
        

        var hireMsg
        var hire = $('input[name=agent_hired_1]:checked').val();
        var goodpayment = {{ Constants.good_payment_1|json }};
        var badpayment = {{ Constants.bad_payment_1|json }};
            
        if (hire === 'False'){
            var hireMsg =  'Çalışana işi vermezseniz, Bölüm sonlanacak. Bu Tur ve sonraki Turlardan 0 PUAN kazanacaksınız. ' ; 
        } 
        else if (hire === 'True'){
            var hireMsg =  'Çalışana işi verirseniz Tur kazancınız: Çalışanın kararı bilgisayarın seçimiyle aynı olursa ' + goodpayment  + ' PUAN, bilgisayarın seçiminden farklı olursa  ' + badpayment  + '  PUAN olacak. ' ; 
        } 
    
        $('p#hireMsg').text(hireMsg);

               
    });
    
});

</script>


{% endblock %}


{