{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Deney Yönergesi
    </h3>
    <h4>Genel Bilgi ve Roller</h4>
    <p>
        Bilgisayar her Turda <span style="color:#2EC927"> {{Constants.color_0}} </span> ve  
        <span style="color:#00BFFF"> {{Constants.color_1}}  </span> 
        renklerinden birini rastgele olarak seçecektir. 
        Bilgisayarın seçtiği rengi gözlemleyemeyen bir <strong>işveren</strong>, 
        bu seçimi kendisi adına gözlemleme ve buna istinaden bir karar alma işini eşleştirildiği 
        <strong>çalışana</strong> verip vermeme kararı alır. İşi verirse, çalışanın kararına bakarak onunla çalışmaya 
        devam edip etmeme kararı alır.  
    </p>

    <p>Çalışan, <strong>1. Tip </strong> ya da <strong>2. Tip</strong></p>
    <ul>
        <li> 1. Tip ise; bilgisayarla aynı rengi seçerse hem kendisine hem de işverene kazanç sağlar.  </li>
        <li> 2. Tip ise: bilgisayarın seçiminden bağımsız olarak
             <span style="color:#00BFFF"> {{Constants.color_1}}  </span> rengini seçerse kendisine kazanç elde eder.  
            </li>
    </ul>
    <p> İşveren, karşısındaki çalışanın 1.Tip mi yoksa 2.Tip mi olduğunu bilmez. </p>
   
    <p>Deney başladığında rastgele olarak <strong>işveren</strong> ya da
         <strong>çalışan</strong> rolüne atanacaksınız</p>
        
    <p> Eğer çalışan rolüne atanmışsanız %10 olasılıkla 1. Tip,
        %90 olasılıkla 2. Tip olacaksınız. </p>

    <p> Deney sonuna kadar atandığınız rol değişmeyecektir. Yani, deney başında işveren olarak atanmışsanız 
        deney sonlanana dek işveren, 1. Tip çalışan olarak atanmışsanız deney sonlanana dek 1. Tip çalışan, 
        2. Tip çalışan olarak atanmışsanız deney sonlanana dek 2. Tip çalışan olacaksınız.</p>
    
    <h4>Turlar ve Bölümler</h4>

    <p> Her bölüm başlarken bir işveren ile bir çalışan eşleştirilir. 
        İşveren, eşleştirildiği çalışanın 1. Tip mi yoksa 2. Tip mi olduğunu bilmez. Sadece çalışanın 1. Tip olma 
        olasılığının %10, 2. Tip olma olasılığının da %90 olduğunu bilir. </p>

    <p> Her bölüm <strong> en fazla 3 tur </strong>  içerir. Her turun başında, işveren eşleştirildiği çalışana işi verip
         vermeme kararı alır. İşveren, çalışana işi vermeme kararı alırsa, hangi turda olduklarından bağımsız
          olarak bölüm sonlanır. 
        Bir sonraki bölüm için işveren bir çalışan ile yeniden rastgele olarak eşleştirilir. </p>

    <h4>Bölüm kazancınız nasıl belirlenecek?</h4>

    <p> Bir bölümün içinde tamamlanmış olan turlarda elde ettikleri kazanç 
        işveren ve çalışanın bölüm kazancını belirler. </p>

    <p>Örnek 1: Diyelim ki işveren, çalışana 1. Tur’da işi vermedi. Bu durumda hem işverenin hem de çalışanın Bölüm
         kazancı 0 PUAN olacaktır.</p>

    <p> Örnek 2: Diyelim ki işveren, çalışana 1. ve 2. Tur’da işi verdi ama 3. Tur’da işi vermedi. 
        Bu durumda Bölüm kazançları aşağıdaki şekilde olacaktır:
        1. Tur kazancı + 2. Tur kazancı </p>

    <p> Deneyde size 20TL katılım ücreti verilecektir.
        Deney sona erdiğinde, tamamlanmış olan 15 Bölümden 2 tanesini bilgisayar  
        rastgele olarak seçer ve seçilen bu 2 bölümde elde etmiş olduğunuz kazançların toplamı esas aşama kazancınızı belirler. </p>

    <h4>Tur kazancınız nasıl belirlenecek?</h4>

    <p> Bilgisayar her Turda <span style="color:#2EC927"> {{Constants.color_0}} </span> ve  
        <span style="color:#00BFFF"> {{Constants.color_1}}  </span> 
        renklerinden birini rastgele olarak seçecektir. Her iki rengin seçilme olasılığı eşittir.</p>
    
    <p> Her Turda, işverenin ve (bilgisayarın seçimini gözlemleyip karar verme işini verdiği) çalışanın kazancı ya da
         kaybı <strong> bilgisayarın renk seçimine </strong> ve <strong>  çalışanın renk kararına </strong>  bağlıdır. </p>
 
    <h4>Çalışanların Kararı</h4>
    
    <p> Her turda, bilgisayarın seçtiği rengi gören çalışan, gördüğü rengin üzerine
        <span style="color:#2EC927"> {{Constants.color_0}} </span> veya
         <span style="color:#00BFFF"> {{Constants.color_1}}  </span>  renklerinde birini seçer. 
    </p>
    
    <p>Çalışan:
    <ul>
        <li> 1. Tip ise; bilgisayarla aynı rengi seçerse hem kendisine hem de işverene kazanç sağlar.
            (işverenin kazancı 1. Tip çalışanla aynıdır.)  </li>
        <li> 2. Tip ise: bilgisayarın seçiminden bağımsız olarak
             <span style="color:#00BFFF"> {{Constants.color_1}}  </span> rengini seçerse kendisine kazanç elde eder.  
            </li>
    </ul> </p>

    <p>
        1. Tip ve 2. Tip çalışanın tercihi ve bilgisayarın tercihine göre her Turda kazançların
        nasıl belirleneceği aşağıdakı tablolarda görülebilir.<strong> İşverenin kazancı 1. Tip çalışanla aynıdır.     
        </strong> Çalışan, bilgisayarla aynı rengi seçerse işveren kazanç sağlayacak, aksi durumda kaybedecektir.
    </p>
    <h5> 1. Tip  Çalışanın  ve İşverenin Kazancı </h5>
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        
        <tr>
            <th> </th>
            <th colspan=2> Çalışanın kararı = bilgisayarın seçimi </th>
            <th colspan=2> Çalışanın kararı ≠ bilgisayarın seçimi </th>
        </tr>
        <tr>
            <td></td>
            <th>İşverenin kazancı</th>
            <th>1. Tip çalışanın kazancı</th>
            <th>İşverenin kazancı</th>
            <th>1. Tip çalışanın kazancı</th>
        </tr>
        <tr>
            
            <th>Tur 1</th>
            <td>{{ Constants.good_1 }}</td>
            <td>{{ Constants.good_1 }}</td>
            <td>{{ Constants.bad_1 }}</td>
            <td>{{ Constants.bad_1 }}</td>
        </tr>
        <tr>
            <th>Tur 2</th>
            <td>{{ Constants.good_2 }}</td>
            <td>{{ Constants.good_2 }}</td>
            <td>{{ Constants.bad_2 }}</td>
            <td>{{ Constants.bad_2 }}</td>
        </tr>
        <tr>
            <th>Tur 3</th>
            <td>{{ Constants.good_3 }}</td>
            <td>{{ Constants.good_3 }}</td>
            <td>{{ Constants.bad_3 }}</td>
            <td>{{ Constants.bad_3 }}</td>
        </tr>
    </table>

    <br>
    <br>

    <h5> 2. Tip Çalışanın Kazancı </h5>
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th> Bilgisayarın seçimi</th>
            <th colspan=4> <span style="color:#00BFFF"> {{Constants.color_1}}  </span> </th>
            <th colspan=4> <span style="color:#2EC927"> {{Constants.color_0}} </span>  </th>
        </tr>
        <tr>
            <th> Çalışanın kararı</th>
            <th colspan=2> <span style="color:#00BFFF"> {{Constants.color_1}}  </span> </th>
            <th colspan=2> <span style="color:#2EC927"> {{Constants.color_0}} </span>  </th>
            <th colspan=2> <span style="color:#00BFFF"> {{Constants.color_1}}  </span> </th>
            <th colspan=2> <span style="color:#2EC927"> {{Constants.color_0}} </span>  </th>
        </tr>
        <tr>
            <td></td>
            <th>İşverenin kazancı</th>
            <th>2. Tip çalışanın kazancı</th>
            <th>İşverenin kazancı</th>
            <th>2. Tip çalışanın kazancı</th>
            <th>İşverenin kazancı</th>
            <th>2. Tip çalışanın kazancı</th>
            <th>İşverenin kazancı</th>
            <th>2. Tip çalışanın kazancı</th>
        </tr>
        <tr>
            <th>Tur 1</th>
            <td>{{ Constants.good_1 }}</td>
            <td>{{ Constants.good_1 }}</td>
            <td>{{ Constants.bad_1 }}</td>
            <td>{{ Constants.bad_1 }}</td>
            <td>{{ Constants.bad_1 }}</td>
            <td>{{ Constants.good_1 }}</td>
            <td>{{ Constants.good_1 }}</td>
            <td>{{ Constants.bad_1 }}</td>
        </tr>
        <tr>
            <th>Tur 2</th>
            <td>{{ Constants.good_2 }}</td>
            <td>{{ Constants.good_2 }}</td>
            <td>{{ Constants.bad_2 }}</td>
            <td>{{ Constants.bad_2 }}</td>
            <td>{{ Constants.bad_2 }}</td>
            <td>{{ Constants.good_2 }}</td>
            <td>{{ Constants.good_2 }}</td>
            <td>{{ Constants.bad_2 }}</td>
        </tr>
        <tr>
            <th>Tur 3</th>
            <td>{{ Constants.good_3 }}</td>
            <td>{{ Constants.good_3 }}</td>
            <td>{{ Constants.bad_3 }}</td>
            <td>{{ Constants.bad_3 }}</td>
            <td>{{ Constants.bad_3 }}</td>
            <td>{{ Constants.good_3 }}</td>
            <td>{{ Constants.good_3 }}</td>
            <td>{{ Constants.bad_3 }}</td>
        </tr>
        
    </table>
    <br>
    <br>
    
    <h4>İşverenin Kararı</h4>
    
    <p> 
       Her Bölüm başladığında bir işveren ve bir çalışan rastgele eşleşecektir. Çalışanın 1. Tip olma ihtimali <strong>
       %10 </strong> , 2. Tip olma ihtimali 
       <strong> %90 </strong>'dır. 
    </p>

    <p> Bölüm başladıktan sonra işveren her tur başında eşleştirilmiş olduğu çalışana işi verip 
        vermeme kararı alır. Herhangi bir turda çalışana işi vermeme kararı alırsa bölüm sonlanır 
        ve bir sonraki bölüm için işveren yeniden bir çalışanla eşleştirilir.  </p>

    <p>Her bölümde işveren eşleştirildiği çalışana en fazla 3 tur işi verebilir. 
        Çalışan aynı işverenle 3. turu tamamladığında bölüm sona erer ve bir sonraki bölüm 
        için işveren yeniden bir çalışanla eşleştirilir.  </p>
    
    <p>İşveren:
        <ul>
            <li> 1. tur için çalışana işi vermeye veya vermemeye karar verir. 
                <ul>
                    <li> İşi verirse,  çalışan yukarıda açıklandığı şekilde karar alır. 
                        İşveren bilgisayarın seçimini ve çalışanın kararını görür. 2. tura geçilir. </li>
                    <li> İşi vermezse, bölüm sonlanır. Bir sonraki bölüm için, 
                        işveren bir çalışanla rastgele eşleştirilir.  </li>
                </ul>
            <li> 2. tur için çalışana işi vermeye veya vermemeye karar verir. 
                <ul>
                    <li> İşi verirse,  çalışan yukarıda açıklandığı şekilde karar alır. 
                        İşveren bilgisayarın seçimini ve çalışanın kararını görür. 3. tura geçilir. </li>
                    <li> İşi vermezse, bölüm sonlanır. Bir sonraki bölüm için, 
                        işveren bir çalışanla rastgele eşleştirilir.  </li>
                </ul>
            <li> 3. tur için çalışana işi vermeye veya vermemeye karar verir. 
                <ul>
                    <li> İşi verirse,  çalışan yukarıda açıklandığı şekilde karar alır. 
                        İşveren bilgisayarın seçimini ve çalışanın kararını görür. Bölüm sonlanır. </li>
                    <li> İşi vermezse, bölüm sonlanır. Bir sonraki bölüm için, 
                        işveren bir çalışanla rastgele eşleştirilir.  </li>
                </ul>
        </ul>
                 </p>

    <br>
    <br>

  
    <p>
        Çalışanın ve işverenin toplam Bölüm kazancı o bölümdeki Turlardan kazandıkları puanın toplamı 
        olarak belirlenir. Örneğin, işveren çalışanı ilk 2 Turda işe alıp 3. Turda işe almamaya karar 
        verirse hem çalışanın hem de işverenin ilk 2 Turdan kazandıkları puanların toplamı Bölüm 
        puanlarını belirleyecektir.
    </p>
    <h4>Deney'de yer alan aşamalar.</h4>
    <p> 
            <ol>
                <li> <strong> Quiz. </strong> Bu aşamada deney tasarısı ile ilgili soruları cevaplamanız istenecektir. 
                    Doğru cevapladığınız
                    her soru için {{Constants.point_per_question}} kazanacaksınız.
                </li>
                <li> <strong> Esas aşama. </strong> Yukarıda açıklanan 15 Bölümden
                     oluşan aşama.
                </li>
                <li> <strong> Ekstra aşama. </strong> Bu aşama esas aşamadan bağımsızdır.
                    Bu aşamada size 2 alternatif şansa bağlı seçenek sunulacaktır ve 
                    kararınıza göre bu bolümden para kazanacaksınız.</li>
                <li> <strong> Anket </strong>
               </li>
            </ol>

        
    </p>
    
    <h4>Deney kazançlarının belirlenmesi</h4>

    <p> <strong> Deneyde size 20TL katılım ücreti verilecektir. </strong> </p>

    <p>
       
        Deney tamamlandığında  15 Bölümden 2'si bilgisayar tarafından rastgele olarak seçilecek ve
        deney puanınız bu iki Bölümden kazandığınız puan ile Quiz ve Ekstra aşamadan kazandığınız puanların
        toplamı olacaktır. Deney puanı <strong> 1&frasl;21 TL </strong> ile çarpılarak 20TL katılım ücretine eklenerek 
        tarafınıza ödenecektir.  
    </p>

    <p>
        Ödemenizi daha sonra belirlenecek gün ve
        saatlerde BELİS laboratuvarından alabilir veya  banka hesabınıza gönderilmesi için hesap bilgilerinizi 
        paylaşabilirsiniz. Deney sonunda hangi ödeme türünü tercih ettiğiniz sorulacaktır.
        
    </p>
</div>
</div>
